<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        if (window.location.pathname === "/") {
            if (screen.width < 768) {
                window.location = "{{url_for('main.mobile')}}";
            }
        }
    </script>
    <link rel="Website Icon" type="png" href="https://sisthege.sirv.com/icon4.png">
    {% block css %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <title>SnapOCR</title>
</head>
<body>
    <header>
        <a href="{{url_for('main.index')}}" class="logo"><i class='bx bxs-image-add' ></i><span>SnapOCR</span></a>

        <ul class="navbar">
            <li><a href="{{url_for('main.index')}}">Home</a></li>
            <li><a href="{{url_for('main.about_us')}}" >About Us</a></li>
            <li><a href="{{url_for('main.services')}}" >Services</a></li>
            <li><a href="{{url_for('main.blog')}}" >Blog</a></li>
            {% if current_user.is_authenticated %}
            <li class="link-header-signin"><a href="{{url_for('main.profile')}}" >Profile</a></li>
            {% else %}
            <li class="link-header-signin"><a href="{{url_for('auth.login')}}" >Sign in</a></li>
            {% endif %}
        </ul>

        {% if current_user.is_authenticated %}
        <div class="main">
            <a href="{{ url_for('auth.logout') }}" style="background-color: var(--text-color); color: white; width: 36.48px;margin-right: -6px;"><i style="transform: translate(-8.5px, 2px);" class='bx bx-power-off'></i></a>
            <a href="{{url_for('main.profile')}}" class="user"><i class='bx bxs-user'></i>Profile</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
        {% else %}
        <div class="main">
            <a href="{{url_for('auth.login')}}" class="user"><i class='bx bxs-contact' ></i>Sign In</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
        {% endif %}

    </header>

    <section>
        {% block content %}
        {% endblock %}
    </section>

    {% block message %}
    {% endblock %}
    
    {% block js %}
    {% endblock %}
</body>
</html>