{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="containerAll">
    <div class="content">
        <h2 class="icon"><i class='bx bxl-python' undefined ></i>OCR Application</h2>
        <div class="text-sci">
            <h2>Welcome!
                <br>
                <span>To Our New Website.</span>
            </h2>    
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, quae.</p>
            <div class="social-icons">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="box">

        <div class="container">
            
            <div class="form">
                <h2 class="title">Login</h2>

                <form method="POST" action="/login">

                        <div class="inputBox">
                            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="" required>
                        </div>

                        <div class="inputBox">
                            <input class="input is-large" type="password" name="password" placeholder="Your Password" required>
                        </div>

                        <div class="inputBox">
                            <input class="button is-block is-info is-large is-fullwidth" type="submit" value="Login">
                        </div>

                        <div class="subtitle">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>

                        <div class="subtitle">
                            <p>Don't have an account ? <a href="{{url_for('auth.signup')}}">Register</a></p>
                        </div>
                        
                </form>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block message %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/login">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}