{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profil.css') }}">
{% endblock %}

{% block content %}
{% for prediction in predictions %}
<div class="nft">
  <div class='main'> 
    <h2>{{prediction.title}}</h2>
    <p class='description'>{{prediction.text}}</p>
    <div class='tokenInfo'>
      <div class="duration">
        <ins>◷</ins>
        <p>{{prediction.date}}</p>
      </div>
    </div>
    <hr />
    <div class='creator'>
      <div class='wrapper'>
        <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" alt="Creator" />
      </div>
      <p><ins>Creation of</ins> {{user_name}}</p>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block message %}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}