{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/render.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="image">
        <p id="urlImage" style="display:none;">{{url}}</p>
        <img src="{{url}}" >
    </div>
</div>

<div class="prediction">
    <div class="predi_flex">
        <p class="arrow"><i class='bx bxs-chevron-right bx-flashing' style='color:var(--text-color)'  ></i></p>
        <div class="text">
            <textarea style="display:none" id="textCopy">{{ocr_text}}</textarea>
            <p id="typed-text"></p>
        </div>
        <button id="buttonDownload"><i class='bx bxs-download' ></i></button>
        <button id="buttonCopy"><i class="ri-clipboard-fill"></i></button>
    </div>
    <div id="button">
        {%if button == 'wait' %}
        <button id="openModalButton">Save</button>
        {%elif button == 'validate' %}
        <a class="submitSave" id="saveCheck submitSave" href="javascript:void(0)" style="cursor: default;"><i class='bx bx-check'></i></a>
        {%endif%}
        <a id="retry" href="{{url_for('main.index')}}">Again</a>
    </div>
    <div class="formdiv" id="formdiv" style="display: none;">
        <form method="POST" action="/render" id="formModal">
            <button class="close"><i class='bx bx-collapse-alt'></i></button>
            <h2>Title</h2>
            <input class="input is-large" type="text" name="textpredict" value="{{ocr_text}}" style="display: none;">
            <input class="input is-large" type="text" name="imageurl" value="{{url}}" style="display: none;">
            <input class="title" type="text" name="title" id="inputTitle">
            <button class="submit" type="submit" id="submitSave">Validate</button>
            </form>
     </div>
    
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<script src="{{ url_for('static', filename='js/render.js') }}"></script>
{% endblock %}