SQLAlchemy<2.0
Flask
Flask-Uploads
Flask-SQLAlchemy
flask-login
flask-sqlalchemy
psycopg2-binary
cloudinary
flask-wtf
email_validator
validators
pyclipper
tqdm
gunicorn
requests
waitress
werkzeug<2.1
