absl-py
astunparse
audioread
awscli
awsebcli
Babel
blinker
botocore
cachetools
cement
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cv
cycler
decorator
docutils
editdistance
efficientnet
essential-generators
filelock
Flask
Flask-Babel
Flask-Uploads
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta=
grpcio
h5py
humanfriendly
idna
imageio
imgaug
importlib-resources
imutils
itsdangerous
jax
Jinja2
jmespath
joblib
keras
Keras-Applications
keras-ocr
Keras-Preprocessing
kiwisolver
lazy-loader
libclang
librosa
llvmlite
Markdown
MarkupSafe
matplotlib
ml-dtypes
mltu
mpmath
networkx
numba
oauthlib
onnx
onnxruntime
opencv-python
opt-einsum
packaging
pandas
pathspec
Pillow
pip
platformdirs
pooch
protobuf
pyasn1
pyasn1-modules
pyclipper
pycparser
pyparsing
pypiwin32
pyreadline3
pytesseract
python-dateutil
pytz
PyWavelets
pywin32
PyYAML
requests
requests-oauthlib
resampy
rsa
s3transfer
scikit-image
scikit-learn
scipy
semantic-version
setuptools
shapely
six
soundfile
stow
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf2onnx
threadpoolctl
tifffile
torch
torchsummaryX
tqdm
typing-extensions
tzdata
urllib3
validators
wcwidth
Werkzeug
wheel
wrapt
zipp
numpy