* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Rendre la barre de défilement invisible */
::-webkit-scrollbar {
    width: 0em;
    height: 0em;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 10px;
}

/* Ajouter un bord à la barre de défilement */
::-webkit-scrollbar-track {
    border: none;
}

/* Ajouter une couleur de fond à la poignée de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 10px;
}



html,body{
    overflow: hidden;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    overflow: scroll;
    text-align: center;
    align-items: center;
}

section .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 300px;
    border: 2px dashed var(--bg-color-dm);
    padding: 10px;
    border-radius: 12px;
}

section img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

section .prediction {
    display: flex;
    flex-direction: column;
}

section .predi_flex {
    display: flex;
    border-top: 2px solid var(--text-color);
    width: 650px;
    height: auto;
    margin-top: 40px;
}
section .predi_flex #buttonCopy {
    border: 1px solid var(--bg-color-dm);
    border-radius: 5px;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

section .predi_flex #buttonDownload {
    border: 1px solid var(--bg-color-dm);
    border-radius: 5px;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 19px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

section .predi_flex #buttonDownload i {
    padding-top: 5px;
}

section .predi_flex #buttonCopy:active,
section .predi_flex #buttonDownload:active {
    background-color: var(--bg-color-dm);
}

section .text {
    width: 600px;
}

section p {
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
}

section .arrow {
    font-size: 20px;
    text-align: right;
    transform: translate(6px, 0px);
    padding: 0;
}

section p i {
    transform: translateY(5px);
    font-size: 20px;
}

section .button {
    margin-top: 60px;
    margin-bottom: 30%;
}

section #save {
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 18px;
    padding: 7px 25px;
    border: 1px solid var(--text-color);
    border-radius: 100px;
    transition: all .3s ease;
}

section #save i {
    display: none;
}
section #save span {
    display: contents;
}

section #save.active {
    display: inline-grid;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 20px;
    padding: 7px 25px;
    border: 3px solid var(--text-color);
    border-radius: 100px;
    transition: all .3s ease;
    width: 96.54px;
    height: 43.2px;
}

section #save.active span {
    display: none;
}
section #save.active i {
    display: contents;
}

section #retry {
    background-color: var(--warm-color);
    color: var(--bg-color);
    font-size: 18px;
    padding: 7px 25px;
    border: 3px solid var(--warm-color);
    border-radius: 100px;
    transition: all .3s ease;
    margin-left: 25px;
}

section #retry:hover,
section #save:hover {
    background-color: transparent;
    color: var(--text-color);

}