tensorflow
numpy
opencv-python
segmentation-models
imgaug
validators
Flask
Flask-Uploads
cloudinary
Flask-SQLAlchemy
flask-login
Pillow
flask-wtf
email_validator
flask-sqlalchemy
tqdm
essential-generators
editdistance
pyclipper
flask_migrate
gunicorn