* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Rendre la barre de défilement invisible */
::-webkit-scrollbar {
    width: 0em;
    height: 0em;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 10px;
}

/* Ajouter un bord à la barre de défilement */
::-webkit-scrollbar-track {
    border: none;
}

/* Ajouter une couleur de fond à la poignée de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 10px;
}

:root {
    --bg-color: #fff;
    --bg-color-dm: #e0e0e0;
    --bg-html-color: #6B5B95;
    --text-color: #ffffff;
    --main-color: #edcd64 ;
    --secondary-color: #f5b24e;
    --warm-color: #EE1D52;
    --warm-bright-color: #ff607e;
    --cold-color: #fcea4e;
    --save: #4abb83;

    --primary-100:#EE1D52;
    --primary-200:#ff607e;
    --primary-100:#6B5B95;
    --primary-200:#4B4068;
    --primary-300:#E1DDEB;
    --accent-100:#FF7F11;
    --accent-200:#BE5800;
    --text-100:#333333;
    --text-200:#424242;
    --bg-100:#E6E6FA;
    --bg-200:#D2D2F6;
    --bg-300:#FFFFFF;
    --color-334: #323d4b;
      
      
}

:root.dark {
    --primary-100:#FFC857;
    --primary-200:#deab3a;
    --primary-300:#936a00;
    --accent-100:#D90429;
    --accent-200:#ffbfaf;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#2B2B2B;
    --bg-200:#3b3b3b;
    --bg-300:#545454;
}

html{
    background: url(../img/vivid-blurred-colorful-background2.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); /* Flou de l'arrière-plan */
}

body{
    min-height: 100vh;
    background-color: rgba(145, 145, 145, 0.425);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.377);
    color: var(--text-color);
    scale: 0.96;
    box-sizing: border-box;
    border-radius: 10px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .20s ease;
}

header::before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    color: var(--main-color);
    font-size: 35px;
    margin-right: 3px;
}

.logo span{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--bg-color-dm);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .30s ease;
}

.navbar a:hover{
    color: var(--text-color);
}

.navbar a.active{
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    padding: 9px 22px;
    background-color: rgb(219, 103, 152);
    border-radius: 12px;
    border: 1px solid transparent;
    border-radius: 35px;
}

.main .logout {
    background: rgb(255, 255, 255);
    padding-bottom: 9px;
    margin-right: -3px;
}

.main .logout i {
    color: #2B2B2B;
}

.logout a {
    padding-bottom: 9px;
}

.user {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.user i{
    font-size: 20px;
    margin-right: 7px;
}

.link-header-signin {
    display: none;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.notification {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    margin: 20px;
}

.is-danger {
    background: rgb(220 130 153);
}

.is-danger a {
    color: rgba(238, 29, 82, 1);
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }

    .link-header-signin {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -200%;
        width: 270px;
        height: 255px;
        background-color: rgba(228, 228, 228, 0.349);
        border: 1px solid rgba(255, 255, 255, 0.329);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .30s ease;
    }

    .navbar::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(228, 228, 228, 0.178);
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .30s ease;
        color: var(--bg-color);
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateX(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }

    .navbar.open{
        right: 2%;
    }

    .main a{
        display: none;
    }
}