* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    overflow: hidden;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: clip;
    text-align: center;
    align-items: center;
    padding-left: 11vw;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.form-with-text {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    transform: translateY(-30px);
}

.spanTyped {
    font-size: 33px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.form-with-text .bxs-file-find {
    display: inline-block;
    transform: translateY(2px);
}

section .illustration {
    position: relative;
    width: 63%;
    max-width: 1142px;
    height: auto;
    top: 35px;
    right: 0px;
    overflow: hidden;
    scale: 1.2;
    right: -5vw
}

.container {
    position: relative;
    left: 0;
    height: 350px;
    width: 430px;
    margin-right: 100px;
    margin-top: 5px;
}

.container .wrapper {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(228, 228, 228, 0.349);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    overflow: hidden;
    padding-bottom: 46px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}



.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 35px;
}

.wrapper .icon {
    font-size: 100px;
    color: var(--main-color);
    height: 158px;
}

.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-color-dim);
}

.wrapper #cancel-btn {
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 30px;
    cursor: pointer;
    color: var(--main-color);
    display: none;
}

.wrapper.active:hover #cancel-btn {
    display: block;
}

.wrapper #cancel-btn:hover {
    color: var(--warm-color);
}

.wrapper .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: var(--bg-color);
    padding: 8px 0;
    font-size: 18px;
    background: var(--main-color);
    display: none;
}

.wrapper.active:hover .file-name {
    display: block;
}

.container #custom-btn {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 35px;
    background-color: rgba(228, 228, 228, 0.349);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.container #custom-btn img{
    width: 50px;
}

.container #upload-btn {
    color: var(--text-color);
    background-image: linear-gradient(to right, #edcd64 0%, #e4cf90 51%, #e1b53c 100%);
    background-size: 200% auto;
    border: 1px solid rgba(255, 255, 255, 0.329);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 35px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .20s ease;
}

.container #upload-btn:hover {
    background-position: right center;
}

.button_convert {
    display: flex;
}

@media (max-width: 1380px) {
    section .illustration {
        display: none;
    }
}

@media (max-width: 1080px) {
    section {
        justify-content: unset;
        padding-left: 0;
        width: 100%;
        height: 100%;
        overflow: clip;
        text-align: center;
        align-items: center;
        position: absolute;
        left: 23vw;
    }
}