* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.containerAll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background: rgba(194, 194, 194, 0.425);
    border: 1px solid rgba(255, 255, 255, 0.329);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    display: flex;
}

.containerAll .content {
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.content .icon {
    font-size: 35px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 26px;
    color: var(--text-color);
    margin-right: 10px;
    transition: all .30s ease;
}

.box {
    position: relative;
    width: calc(100% - 58%);
    height: 100%;
    
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.589);
    background: rgba(226, 226, 226, 0.219);
}

.form {
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .inputCheckbox {
    margin-top: 20px;
}

.form .inputBox input {
    width: 100%;
    max-width: 370px;
    background: rgba(216, 216, 216, 0.219);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.589);
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 1px;
}

.form .inputBox input[type="name"],
.form .inputBox input[type="email"] {
    min-width: 300px;
}

.form .checkbox input[type="checkbox"] {
    border-radius: 10px;
}

.form .inputBox input::placeholder {
    color: rgb(255, 255, 255);
}

.form .inputBox input[type="submit"] {
    background:#01b3d0;
    border: 1px solid transparent;
    transition: all .3s ease;
    max-width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}


.form .subtitle {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.form .subtitle a {
    color: rgb(45, 149, 170);
    text-decoration: underline;
    font-weight: 600;
}

@media (max-width: 1280px) {
    .containerAll{
        position: absolute;
        top: 45%;
        left: 42%;
        transform: translate(-50%, -50%);
        scale: 0.8;
        width: 85vw;
        height: 600px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
}

@media (max-width: 1090px) {
    .containerAll {
        width: 100vw;
        left: 37.8%;
    }

    .containerAll .content {
        display: none;
    }

    .box {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .form {
        width: auto;
    }
}