* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    overflow: hidden;
    height: 100%;
    
}

section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 210px;
    align-items: center;
    overflow:scroll;
}

section .divProfile {
    display: flex;
    width: 525px;
    height: auto;
    position: absolute;
    top: 0;
    justify-content: center;
    overflow: auto;
}

.divProfile  h1 {
    position: fixed;
    border-bottom: 1px solid var(--text-color);
    top: 160px;
    width: 480px;
}

.divProfile .editPredi {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: 24px;
    height: 24px;
    font-size: 22px;
    position: fixed;
    top: 8px;
    margin-top: 158px;
    margin-left: 462px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tuileBox {
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 15px;
}

.prediction-tuile {
    width: 120px;
    height: 120px;
    border: 1px solid var(--bg-color-dm);
    border-radius: 10px;
    border-top-right-radius: 15px;
    background-color: rgb(221, 222, 235);
    font-size: 13px;
    overflow: hidden;
    padding: 10px;
}

.prediction-tuile h3 {
    font-size: 16px;
}

.prediction-tuile .date {
    font-size: 12px;
}

.prediction-tuile .deleteTuile {
    position: fixed;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: var(--warm-bright-color);
    transform: translate(100px, -17px);
    font-size: 24px;
    cursor: pointer;
    transition: all .2s ease;
}

.prediction-tuile .deleteTuile:active {
    color: var(--warm-color);
}