* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,body{
    overflow: hidden;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

section .image {
    max-width: 550px;
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 300px;
    max-width: 550px;
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(228, 228, 228, 0.349);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.image img {
width: 100%;
height: 100%;
object-fit: contain;
border-radius: 10px;
}

section .predi_flex {
    display: flex;
    border-top: 1px solid var(--text-color);
    width: 550px;
    max-height: 33vh;
    margin-top: 40px;
    overflow: auto;
}
section .predi_flex #buttonCopy {
    border: 1px solid var(--bg-color-dm);
    border-radius: 5px;
    color: var(--text-color);
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 520px;
    transition: all .2s ease;
}

section .predi_flex #buttonDownload {
    border: 1px solid var(--bg-color-dm);
    border-radius: 5px;
    color: var(--text-color);
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    font-size: 19px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 485px;
    transition: all .2s ease;
}

section .predi_flex #buttonDownload i {
    padding-top: 5px;
}

section .predi_flex #buttonCopy:hover,
section .predi_flex #buttonDownload:hover {
    background-color: rgb(212 195 196 / 33%);
}

section .predi_flex #buttonCopy:active,
section .predi_flex #buttonDownload:active {
    background-color: rgba(128, 128, 128, 0.33);
}

section .text {
    width: 600px;
}

section p {
    font-size: 18px;
    text-align: left;
    padding-left: 32px;
    padding-top: 6px;
    padding-right: 75px;
}

section .arrow {
    font-size: 20px;
    text-align: right;
    transform: translate(6px, 0px);
    padding: 0;
    margin-top: 4px;
    position: fixed;
}

section .arrow .bxs-chevron-right {
    display: none;
}

section .arrow .ri-loader-4-line {
    display: block;
    animation: chargeur 4s linear infinite;
    margin-top: 5px;
}

@keyframes chargeur {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}

section p i {
    transform: translateY(5px);
    font-size: 20px;
}

section #button {
    transform: translateY(45px);
}

section #saveText {
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 18px;
    padding: 7px 25px;
    border: 3px solid var(--text-color);
    border-radius: 100px;
    transition: all .3s ease;
    display: inline;
}

#button.active #saveText {
    display: none;
}

section #saveCheck {
    display: none;
}

#button.active #saveCheck {
    background-color: var(--save);
    color: var(--bg-color);
    font-size: 18px;
    padding: 7px 40px;
    border: 3px solid var(--save);
    border-radius: 100px;
    transition: all .3s ease;
    display: inline;
    cursor: default;
}

#button.active #saveCheck i {
    scale: 1.5;
}

section #retry {
    background: #e3c666;
    color: var(--bg-color);
    font-size: 18px;
    padding: 7px 25px;
    border: 1px solid transparent;
    border-radius: 35px;
    transition: all .3s ease;
    margin-left: 25px;
}


#openModalButton {
    background: #7e7e7e;
    background-size: 200% auto;
    color: var(--bg-color);
    font-size: 18px;
    padding: 7px 25px;
    border: 1px solid transparent;
    border-radius: 35px;
    transition: all .3s ease;
    margin-left: 25px;
    cursor: pointer;
}

.submitSave {
    background:#59c03a;
    color: var(--bg-color);
    font-size: 18px;
    padding: 6px 39px;
    border: 1px solid transparent;
    border-radius: 35px;
    transition: all .3s ease;
    margin-left: 25px;
    cursor: none;
    pointer-events: none;
}

.formdiv {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formdiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(95, 95, 95, 0.4);
    backdrop-filter: blur(15px);
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    z-index: 100000;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.589);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    background: rgba(192, 192, 192, 0.658);
    border-radius: 10px;
}

form h2 {
    color: #3c3c3c;
    margin-top: -34px;
    margin-bottom: 15px;
    font-size: 30px;
}

.close {
    border: none;
    background: transparent;
    position: relative;
    font-size: 22px;
    padding: 10px;
    color: #ffffff;
    transform: translate(400px, -75px);
    z-index: 1000000;
    cursor: pointer;
}

form .title {
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.589);
    color: rgb(255, 255, 255);
}