{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="form-with-text">
    <span id="typed-text"></span>
  <form method="POST" enctype="multipart/form-data" >
      <div class="container">
      <div class="wrapper">
          <div class="image">
              <img id="img-upload" src="https://sisthege.sirv.com/transparent.png">
          </div>
          <div id="page" class="content">
              <div class="icon"><i class='bx bx-images' ></i></div>
              <div class="text">No file chosen, yet!</div>
          </div>
          <div id="cancel-btn"><i class="ri-close-line"></i></div>
          <div class="file-name">File name here</div>
      </div>
      <input  type="file" name="photo" id="default-btn" type="file" hidden>
      <div class="button_convert">
         <button type="button" onclick="defaultBtnActive()" id="custom-btn"><i class='bx bxs-cloud-upload'></i></button>
          <button type="submit" value="Upload" id="upload-btn" onclick="showLoader()">Extract</button> 
      </div>
      
      </div>
  </form>  
  </div>
  
  <img class="illustration" src="https://sisthege.sirv.com/illu6.png">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}